{% extends 'base.html.twig' %}

{% block title %}Read: {{ title }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

    <div>
        <p>Display the details of the repository</p>
    </div>

{% endblock %}